@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --text: #0f0f0f;
    --muted: #444;
    --dark: #aaa;
    --tooltip: rgba(20, 20, 20, .9);
    --tooltip-text: white;

    --background: white;
    --highlight-bg: #f6f6f6;
    --border: #eee;
    --highlight-border: #ddd;

    --card-shadow: rgba(0, 0, 0, 0.08);

    --green: #0eb50e;
    --green-light: #16c416;
    --red: #ae1111;
    --red-light: #bf1818;
    --blue: #1431d5;
    --blue-light: #1f3ce0;

    --cat-markup: #c76a00;
    --cat-content: #55ac0e;
    --cat-nest: #9f0eac;
    --cat-nest2: #ac0e1b;

    --dark-light-button: '\f186';
    --dark-light-button-color: #12308a;
}

:root.dark-mode {
    --text: #f6f6f6;
    --muted: #aaa;
    --dark: #696969;
    --tooltip: rgba(0, 0, 0, 0.9);
    --tooltip-text: rgb(255, 255, 255);

    --background: #141414;
    --highlight-bg: #323232;
    --border: #444;
    --highlight-border: #555;

    --card-shadow: rgba(128, 128, 128, 0.05);

    --green: #0eb50e;
    --green-light: #16c416;
    --red: #ae1111;
    --red-light: #bf1818;
    --blue: #1431d5;
    --blue-light: #1f3ce0;

    --cat-markup: #7f470a;
    --cat-content: #408905;
    --cat-nest: #71057a;
    --cat-nest2: #8e030f;

    --dark-light-button: '\f185';
    --dark-light-button-color: #ecb607;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    scroll-behavior: smooth;
    scrollbar-color: var(--dark) transparent;
}

body {
    font-size: 1rem;
    background-color: var(--background);
    color: var(--text);
}

header {
    width: 100%;
    font-size: 2rem;
    position: relative;

    h1 {
        font-weight: bold;
        text-align: center;
        width: 100%;
        font-size: 100%;
    }

    h2 {
        font-size: 30%;
        text-align: center;
        width: 100%;
        color: var(--muted);
    }

    a {
        color: var(--text);
        position: absolute;
        top: 12px;
        right: 12px;
        font-size: 2rem;
        text-decoration: 0;
        transition: color .2s ease-out;
    }

    a.right-side {
        left: 12px;
        right: auto;
        width: 50px;
        height: 50px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    a.theme-icon::before {
        content: var(--dark-light-button);
        display: inline;
        font-family: 'Font Awesome 7 Pro';
        font-weight: 900;
        font-style: normal;
        font-size: 1.2rem;
        color: var(--text);
        transition: color .2s ease-out;
    }

    a.theme-icon:hover::before {
        color: var(--dark-light-button-color);
    }

    a.git-icon:hover,
    a.git-icon:active {
        color: var(--red-light);
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
}

main {
    display: flex;
    gap: 8px;
    background-color: var(--background);
    padding: 16px;
    height: 92vh;
}

#editor,
#viewer {
    background-color: var(--background);
    border: 1px solid var(--border);
    border-radius: 4px;
    flex: 50%;
}

#viewer {
    overflow: hidden;
}

iframe {
    --amount: 0.75;

    zoom: var(--amount);
    transform: scale(var(--amount));
    transform-origin: 0 0;
    -ms-zoom: var(--amount);
    -moz-transform: scale(var(--amount));
    -moz-transform-origin: 0 0;
    -o-transform: scale(var(--amount));
    -o-transform-origin: 0 0;
    -webkit-transform: scale(var(--amount));
    -webkit-transform-origin: 0 0;
}

#editor {
    display: flex;
    flex-direction: column;
    min-height: 0;
    height: 100%;
    max-height: 100%;
}

#editor #top-toolbar {
    display: flex;
    gap: 12px;
    height: 60px;
    border-bottom: 1px solid var(--border);
    padding: 8px;
    flex-shrink: 0;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    flex-grow: 1;
    overflow: hidden auto;
}

.card {
    flex: 0 1 200px;
    border: 1px solid var(--border);
    border-radius: 4px;
    box-shadow: var(--card-shadow) 6px 6px 10px 0;
}

.card.cat-content {
    border-color: var(--cat-content);
}

.card.cat-markup {
    border-color: var(--cat-markup);
}

.card .card,
.card .card .card .card,
.card .card .card .card .card .card {
    border-color: var(--cat-nest);
}

.card .card .card,
.card .card .card .card .card,
.card .card .card .card .card .card .card {
    border-color: var(--cat-nest2);
}

.card.collapsed {
    overflow: hidden;
    min-height: 60px;
    max-height: 60px;
}

.card .card-content {
    padding: 4px 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card .card-toolbar {
    font-weight: bold;
    color: var(--text);
    font-size: 0.8rem;
    border-bottom: 1px solid var(--border);
    padding: 8px;
    margin-bottom: 8px;
    text-align: left;
    display: flex;
    align-self: center;
    height: 60px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.card .card-toolbar .title-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.card .card-toolbar .card-right {
    display: flex;
    gap: 4px;
    align-self: center;
}

.card .card-field {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 0.8rem;
}

.card .card-field.expandable {
    min-height: 40px;
    height: auto;
}

.card .card-field-nested {
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: stretch;
}

.card .nested-card-container {
    display: flex;
    flex-direction: column;
    margin: 12px 0;
    border: 1px solid var(--border);
    border-radius: 4px;
}

.card .nested-card-container.collapsed {
    overflow: hidden;
    min-height: 40px;
    max-height: 40px;
}

.card .nested-card-container.collapsed button {
    display: none;
}

.card .nested-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
    height: 40px;
    min-height: 40px;
    padding: 0 12px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.card input[type='text'],
.card input[type='color'],
textarea,
.card select {
    outline: 0;
    border: 1px solid var(--border);
    background-color: var(--background);
    color: var(--text);
    font: inherit;
    padding: 4px;
    flex-grow: 1;
    height: 40px;
    border-radius: 4px;
}

textarea.vertical-resize {
    resize: vertical;
    min-height: 100px;
}

.card input[type='color'] {
    max-width: 200px;
    padding: 1 3px;
}

.card label {
    font-weight: bold;
    color: var(--text);
    min-width: 260px;
}

.card .image-box {
    width: 120px;
    aspect-ratio: 1 / 1;
    border: 2px dashed var(--border);
    border-radius: 8px;
    margin-right: 20px;
    padding: 10px;
    overflow: hidden;
}

.card .image-box img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.card .image-box img[src=''] {
    visibility: hidden;
}

.selector-btn {
    position: relative;
}

.selector-btn:hover>.card-selector-wrapper,
.card-selector-wrapper:hover {
    display: block;
    width: auto;
    height: auto;
}

.card-selector-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    z-index: 500;
}

.card-selector {
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 4px;
    border: 1px solid var(--border);
    background-color: var(--background);
    padding: 6px;
    margin-right: 64px;
    box-shadow: var(--card-shadow) 4px 4px 8px 0;
}

.card-selector .selector-option {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 12px;
    white-space: nowrap;
    background-color: var(--background);
    border-radius: 2px;
    text-align: left;
    color: var(--text);
    transition: background-color .2s ease-out;
}

.card-selector .selector-option i {
    margin-right: 8px;
}

.card-selector .selector-option:hover {
    background-color: var(--highlight-bg);
}

.checkbox-btn {
    display: block;
    outline: 0;
    text-decoration: 0;
    border: 0;
    background: transparent;
    padding: 0;
    font-size: 0.8rem;
    color: var(--text);
    cursor: pointer;
    transition: color .2s ease-out, color .2s ease-out;
}

.checkbox-btn:hover {
    color: var(--muted);
}

.control-btn {
    display: block;
    outline: 0;
    text-decoration: 0;
    border: 0;
    background: transparent;
    padding: 8px;
    font-size: 1rem;
    color: var(--text);
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: border-color .2s ease-out, color .2s ease-out;
}

.control-btn:hover {
    color: var(--muted);
    border-color: var(--highlight-border);
}

.danger-btn:hover {
    color: #e60606;
    border-color: #e60606;
}

.green-btn,
.white-btn,
.blue-btn,
.red-btn {
    font-size: .8rem;
    background-color: var(--green);
    color: white;
    transition: background-color .2s ease-out;
}

.green-btn:hover,
.white-btn:hover,
.blue-btn:hover,
.red-btn:hover {
    background-color: var(--green-light);
    color: white;
    border-color: transparent;
}

.red-btn {
    background-color: var(--red);
}

.red-btn:hover {
    background-color: var(--red-light);
}

.blue-btn {
    background-color: var(--blue);
}

.blue-btn:hover {
    background-color: var(--blue-light);
}

.white-btn,
.white-btn:hover {
    color: var(--text);
    border: 1px solid var(--border);
    background: transparent;
}

.tooltip {
    position: relative;
}

.tooltip::after {
    content: attr(tooltip-text);
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    font-size: .7rem;
    border-radius: 5px;
    background: var(--tooltip);
    color: var(--tooltip-text);
    padding: 6px 8px;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%, 100%);
    opacity: 0;
    transition: opacity .1s ease-out .2s;
    pointer-events: none;
    z-index: 1000;
}

.tooltip.tooltip-top::after {
    bottom: calc(100% + 14px);
    transform: translate(-50%, 0);
}

.tooltip.tooltip-left::after {
    top: 50%;
    right: 100%;
    bottom: auto;
    left: auto;
    transform: translate(-14px, -50%);
}

.tooltip.tooltip-right::after {
    top: 50%;
    right: auto;
    left: 100%;
    bottom: auto;
    transform: translate(14px, -50%);
}

.tooltip.tooltip-top::before {
    bottom: calc(100% + 5px);
    border-color: transparent;
    border-top-color: var(--tooltip);
}

.tooltip.tooltip-left::before {
    right: calc(100% + 5px);
    bottom: auto;
    left: auto;
    top: 50%;
    border-color: transparent;
    border-left-color: var(--tooltip);
    transform: translate(0, -50%);
}

.tooltip.tooltip-right::before {
    left: calc(100% + 5px);
    bottom: auto;
    right: auto;
    top: 50%;
    border-color: transparent;
    border-right-color: var(--tooltip);
    transform: translate(0, -50%);
}

.tooltip::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -12px;
    transform: translate(-50%);
    border: 5px solid transparent;
    border-bottom-color: var(--tooltip);
    opacity: 0;
    transition: opacity .1s ease-out .2s;
    pointer-events: none;
    z-index: 1000;
}

.tooltip:hover::after,
.tooltip:hover::before {
    opacity: 1;
}

.tooltip.info {
    margin-left: 12px;
    color: var(--dark);
    font-size: 1rem;
}

.hidden {
    display: none !important;
}

#modal {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
    z-index: 100000;
}

#modal .content {
    min-width: 600px;
    min-height: 500px;
    background-color: var(--background);
    border-radius: 8px;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

#modal p {
    flex-grow: 1;
}

#modal h1 {
    font-size: 2rem;
    color: var(--text);
    padding-bottom: 16px;
    border-bottom: 1px solid var(--border);
    margin-bottom: 16px;
}

#modal .modal-btns {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    height: 40px;
}