@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --text: #0f0f0f;
    --inverted: white;
    --muted: #444;
    --dark: #aaa;
    --darker: #222;
    --tooltip: rgba(20, 20, 20, .9);
    --tooltip-text: white;

    --background: white;
    --background-darker: #fafafa;
    --highlight-bg: #f5f5f5;
    --border: #eee;
    --highlight-border: #ddd;

    --card-shadow: rgba(0, 0, 0, 0.08);

    --green: #0eb50e;
    --green-light: #16c416;
    --red: #ae1111;
    --red-light: #bf1818;
    --blue: #1431d5;
    --blue-light: #1f3ce0;
    --purple: #af14c7;
    --purple-light: #c120da;

    --cat-markup: #c76a00;
    --cat-content: #55ac0e;
    --cat-nest: #9f0eac;
    --cat-nest2: #ac0e1b;

    --dark-light-button: '\f186';
    --dark-light-button-color: #12308a;


    --card-gutter: .77rem;
}

:root.dark-mode {
    --text: #f6f6f6;
    --inverted: black;
    --muted: #aaa;
    --dark: #696969;
    --darker: #333;
    --tooltip: rgba(0, 0, 0, 0.9);
    --tooltip-text: rgb(255, 255, 255);

    --background: #141414;
    --background-darker: #222;
    --highlight-bg: #323232;
    --border: #444;
    --highlight-border: #555;

    --card-shadow: rgba(128, 128, 128, 0.05);

    --green: #0eb50e;
    --green-light: #16c416;
    --red: #ae1111;
    --red-light: #bf1818;
    --blue: #1431d5;
    --blue-light: #1f3ce0;
    --purple: #af14c7;
    --purple-light: #c120da;

    --cat-markup: #7f470a;
    --cat-content: #408905;
    --cat-nest: #71057a;
    --cat-nest2: #8e030f;

    --dark-light-button: '\f185';
    --dark-light-button-color: #ecb607;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    scroll-behavior: smooth;
    scrollbar-color: var(--dark) transparent;
    height: 100dvh;
}

body {
    font-size: 1rem;
    background-color: var(--background);
    color: var(--text);
}

header {
    width: 100%;
    height: 65px;
    font-size: 2rem;
    position: relative;
}

header h1 {
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-size: 100%;
}

header h2 {
    font-size: 30%;
    text-align: center;
    width: 100%;
    color: var(--muted);
}

header a.float-button {
    width: 2.4rem;
    height: 2.4rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    text-decoration: 0;
    color: var(--text);
    transition: color .2s ease-out;
}

header a.float-button:hover {
    color: var(--muted);
}

header a.theme-icon::before {
    content: var(--dark-light-button);
    display: inline;
    font-family: 'Font Awesome 7 Pro';
    font-weight: 900;
    font-style: normal;
    color: var(--text);
    transition: color .2s ease-out;
}

header a.theme-icon:hover::before {
    color: var(--dark-light-button-color);
}

header .floating-container {
    display: flex;
    gap: 8px;
    position: absolute;
    top: 12px;
    left: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
}

main {
    display: flex;
    gap: 8px;
    background-color: var(--background);
    padding: var(--card-gutter);
    height: calc(100% - 65px);
}

#editor,
#viewer {
    background-color: var(--background);
    border: 1px solid var(--border);
    border-radius: 4px;
    flex: 50%;
    min-width: 0;
}

#viewer {
    overflow: hidden;
}

iframe {
    --amount: 0.75;

    zoom: var(--amount);
    transform: scale(var(--amount));
    transform-origin: 0 0;
    -ms-zoom: var(--amount);
    -moz-transform: scale(var(--amount));
    -moz-transform-origin: 0 0;
    -o-transform: scale(var(--amount));
    -o-transform-origin: 0 0;
    -webkit-transform: scale(var(--amount));
    -webkit-transform-origin: 0 0;
}

#editor {
    display: flex;
    flex-direction: column;
    min-height: 0;
    height: 100%;
    max-height: 100%;
}

#editor #top-toolbar {
    display: flex;
    gap: 12px;
    height: 60px;
    border-bottom: 1px solid var(--border);
    padding: 8px;
    flex-shrink: 0;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: var(--card-gutter);
    padding: var(--card-gutter);
    flex-grow: 1;
    overflow: hidden auto;
}

.card {
    --catcol: var(--cat-content);
    flex: 0 1 200px;
    border: 1px solid var(--catcol);
    border-radius: 4px;
    box-shadow: var(--card-shadow) 6px 6px 10px 0;
}

.card.cat-content {
    --catcol: var(--cat-content);
}

.card.cat-markup {
    --catcol: var(--cat-markup);
}

.card .card,
.card .card .card .card,
.card .card .card .card .card .card {
    --catcol: var(--cat-nest);
}

.card .card .card,
.card .card .card .card .card,
.card .card .card .card .card .card .card {
    --catcol: var(--cat-nest2);
}

.card.collapsed {
    overflow: hidden;
    min-height: 2.88rem;
    max-height: 2.88rem;
}

.card.collapsed .selector-btn {
    display: none;
}

.card .advanced-section>.advanced-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px 0 8px 20px;
    border-left: 1px solid var(--darker);
    margin-left: 4px;
}

.card .advanced-section.collapsed {
    height: 32px;
    max-height: 32px;
    overflow: hidden;
}

.card .advanced-section>.advanced-title {
    color: var(--muted);
    font-weight: bold;
    font-size: .7rem;
    display: flex;
    min-height: 32px;
    max-height: 32px;
    width: 100%;
    align-items: center;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.card .card-content {
    padding: 4px var(--card-gutter) var(--card-gutter);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card .card-toolbar {
    font-weight: bold;
    color: var(--text);
    font-size: 0.8rem;
    border-bottom: 1px solid var(--catcol);
    padding: 8px;
    margin-bottom: 8px;
    text-align: left;
    display: flex;
    align-self: center;
    height: 2.88rem;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.card .card-toolbar .title-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.card .card-toolbar .card-right {
    position: relative;
    display: flex;
    gap: 4px;
    align-self: center;
}

.card .card-toolbar .card-right::after {
    content: '\f142';
    display: block;
    font-family: 'Font Awesome 7 Pro';
    font-weight: 900;
    color: var(--text);
    position: absolute;
    top: 50%;
    right: 17px;
    opacity: 1;
    transform: translate(0, -50%);
    transition: opacity .1s .2s ease-out;
    pointer-events: none;
}

.card .card-toolbar .card-right:hover::after {
    opacity: 0;
    transition-delay: .1s;
}

.card .card-toolbar .card-right button {
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s .2s ease-out;
}

.card .card-toolbar .card-right:hover button {
    opacity: 1;
    pointer-events: all;
}

.card .card-field {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 0.8rem;
}

.card .card-hr {
    height: auto;
}

.card .card-field.card-hr>span:first-child {
    color: var(--catcol);
    font-size: 0.7rem;
    font-weight: bold;
    margin-right: 20px;
    width: auto;
    min-width: 0;
}

.card .card-hr::after {
    content: '';
    display: block;
    flex-grow: 1;
    height: 1px;
    background-color: var(--catcol);
}

.card .card-field.expandable {
    min-height: 40px;
    height: auto;
}

.card .card-field-nested {
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: stretch;
}

.card .nested-card-container {
    display: flex;
    flex-direction: column;
    margin: 12px 0;
    border: 1px solid var(--border);
    border-radius: 4px;
}

.card .nested-card-container.collapsed {
    overflow: hidden;
    min-height: 40px;
    max-height: 40px;
}

.card .nested-card-container.collapsed button {
    display: none;
}

.card .nested-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
    height: 40px;
    min-height: 40px;
    padding: 0 12px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.card input[type='text'],
.card input[type='color'],
textarea,
.card select {
    outline: 0;
    border: 1px solid var(--border);
    background-color: var(--background);
    color: var(--text);
    font: inherit;
    padding: 4px;
    flex-grow: 1;
    height: 40px;
    border-radius: 4px;
    min-width: 0;
}

textarea.vertical-resize {
    resize: vertical;
    min-height: 100px;
}

.card input[type='color'] {
    max-width: 200px;
    padding: 1px 3px;
}

.card .card-field>span:first-child {
    display: block;
    font-weight: bold;
    color: var(--text);
    min-width: 260px;
}

.card .image-box {
    width: 120px;
    aspect-ratio: 1 / 1;
    border: 2px dashed var(--border);
    border-radius: 8px;
    margin-right: 20px;
    padding: 10px;
    overflow: hidden;
}

.card .image-box img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.card .image-box img[src=''] {
    visibility: hidden;
}

.selector-btn {
    position: relative;
}

.selector-btn:hover>.dropover-selector-wrapper,
.dropover-selector-wrapper:hover {
    display: block;
    width: auto;
    height: auto;
}

.dropover-selector-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    z-index: 500;
}

.dropover-right .dropover-selector-wrapper {
    right: auto;
    left: 0;
}

.dropover-selector {
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 4px;
    border: 1px solid var(--border);
    background-color: var(--background);
    padding: 6px;
    margin-right: 64px;
    box-shadow: var(--card-shadow) 4px 4px 8px 0;
}

.dropover-right .dropover-selector {
    margin-right: 0;
    margin-left: 64px;
}

.dropover-selector .selector-option {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 12px;
    white-space: nowrap;
    background-color: var(--background);
    border-radius: 2px;
    text-align: left;
    color: var(--text);
    transition: background-color .2s ease-out;
}

.dropover-selector .selector-option i {
    margin-right: 8px;
}

.dropover-selector .selector-option:hover {
    background-color: var(--highlight-bg);
}

.checkbox-btn {
    display: block;
    outline: 0;
    text-decoration: 0;
    border: 0;
    background: transparent;
    padding: 0;
    font-size: 0.8rem;
    color: var(--text);
    cursor: pointer;
    transition: color .2s ease-out, color .2s ease-out;
}

.checkbox-btn:hover {
    color: var(--muted);
}

.control-btn {
    display: block;
    outline: 0;
    text-decoration: 0;
    border: 0;
    background: transparent;
    padding: 8px;
    font-size: 1rem;
    color: var(--text);
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: border-color .2s ease-out, color .2s ease-out;
}

.control-btn:hover {
    color: var(--muted);
    border-color: var(--highlight-border);
}

.danger-btn:hover {
    color: #e60606;
    border-color: #e60606;
}

.green-btn,
.white-btn,
.blue-btn,
.purple-btn,
.red-btn {
    font-size: .8rem;
    background-color: var(--green);
    color: white;
    transition: background-color .2s ease-out;
}

.green-btn:hover,
.white-btn:hover,
.blue-btn:hover,
.purple-btn:hover,
.red-btn:hover {
    background-color: var(--green-light);
    color: white;
    border-color: transparent;
}

.red-btn {
    background-color: var(--red);
}

.red-btn:hover {
    background-color: var(--red-light);
}

.blue-btn {
    background-color: var(--blue);
}

.blue-btn:hover {
    background-color: var(--blue-light);
}

.purple-btn {
    background-color: var(--purple);
}

.purple-btn:hover {
    background-color: var(--purple-light);
}

.white-btn,
.white-btn:hover {
    color: var(--text);
    border: 1px solid var(--border);
    background: transparent;
}

.tooltip {
    position: relative;
}

.tooltip::after {
    content: attr(tooltip-text);
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    font-size: .7rem;
    border-radius: 5px;
    background: var(--tooltip);
    color: var(--tooltip-text);
    padding: 6px 8px;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%, 100%);
    opacity: 0;
    transition: opacity .1s ease-out .2s;
    pointer-events: none;
    z-index: 1000;
}

.tooltip.tooltip-top::after {
    bottom: calc(100% + 14px);
    transform: translate(-50%, 0);
}

.tooltip.tooltip-left::after {
    top: 50%;
    right: 100%;
    bottom: auto;
    left: auto;
    transform: translate(-14px, -50%);
}

.tooltip.tooltip-right::after {
    top: 50%;
    right: auto;
    left: 100%;
    bottom: auto;
    transform: translate(14px, -50%);
}

.tooltip.tooltip-top::before {
    bottom: calc(100% + 5px);
    border-color: transparent;
    border-top-color: var(--tooltip);
}

.tooltip.tooltip-left::before {
    right: calc(100% + 5px);
    bottom: auto;
    left: auto;
    top: 50%;
    border-color: transparent;
    border-left-color: var(--tooltip);
    transform: translate(0, -50%);
}

.tooltip.tooltip-right::before {
    left: calc(100% + 5px);
    bottom: auto;
    right: auto;
    top: 50%;
    border-color: transparent;
    border-right-color: var(--tooltip);
    transform: translate(0, -50%);
}

.tooltip::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -12px;
    transform: translate(-50%);
    border: 5px solid transparent;
    border-bottom-color: var(--tooltip);
    opacity: 0;
    transition: opacity .1s ease-out .2s;
    pointer-events: none;
    z-index: 1000;
}

.tooltip:hover::after,
.tooltip:hover::before {
    opacity: 1;
}

.tooltip.info {
    margin-left: 12px;
    color: var(--dark);
    font-size: 1rem;
}

.hidden {
    display: none !important;
}

#modal {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
    z-index: 100000;
}

#modal .content {
    min-height: 500px;
    background-color: var(--background);
    border-radius: 8px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    width: 600px;
    max-width: 100%;
    min-width: 0;
    margin: 0 20px;
}

#modal p {
    flex-grow: 1;
}

#modal h1 {
    font-size: 2rem;
    color: var(--text);
    padding-bottom: var(--card-gutter);
    border-bottom: 1px solid var(--border);
    margin-bottom: var(--card-gutter);
}

#modal .modal-btns {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    height: 40px;
}

.main-panel {
    display: flex;
    align-items: stretch;
    height: 100%;
    width: 100%;
}

.toolbar-panel {
    position: relative;
    min-width: 64px;
    max-width: 9999px;
    width: 320px;
    overflow: hidden;
    border-right: 1px solid var(--dark);
    margin-right: var(--card-gutter);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0;
    transition: width .2s ease-out;
}

.toolbar-panel.collapsed {
    width: 64px;
    max-width: 64px;
    transition: width .2s ease-out, max-width 1ms .2s;
}

.toolbar-panel .flippy-icon {
    transition: transform .2s ease-out;
}

.toolbar-panel.collapsed .flippy-icon {
    transform: rotate(180deg);
}

.toolbar-panel .flippy-btn {
    position: absolute;
    align-self: flex-end;
    width: 48px;
    height: 48px;
    top: calc((64px - 48px) / 2);
    right: calc((64px - 48px) / 2);
}

.toolbar-top {
    height: 40px;
    display: flex;
    padding-right: 32px;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}


.toolbar-top img {
    display: block;
    height: 100%;
    width: auto;
    margin-right: 20px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

:root:not(.dark-mode) .toolbar-top img {
    filter: invert(1);
}

.toolbar-panel .toolbar-hiding {
    opacity: 1;
    pointer-events: all;
    transition: opacity .2s .2s ease-out;
}

.toolbar-panel.collapsed .toolbar-hiding {
    opacity: 0;
    pointer-events: none;
    transition: opacity 60ms ease-out;
}

.toolbar-panel .toolbar-hiding-reversed {
    opacity: 0;
    pointer-events: none;
    transition: opacity 60ms ease-out;
}

.toolbar-panel.collapsed .toolbar-hiding-reversed {
    opacity: 1;
    pointer-events: all;
    transition: opacity .2s .2s ease-out;
}

.toolbar-buttons {
    display: flex;
    gap: 8px;
    margin: 12px 0 20px;
}

.toolbar-collapsed-panel {
    position: absolute;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    top: 80px;
    font-size: .8rem;
    color: var(--text);
    background-color: var(--background-darker);
    width: 40px;
    margin: 0 auto;
    max-width: 90%;
    padding: 1rem .5rem;
    height: auto;
    max-height: 320px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 4px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

#project-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
    padding: 0 12px;
}

.project {
    position: relative;
    font-size: .8rem;
    padding: 8px;
    border-radius: 4px;
    background-color: var(--background-darker);
    width: 100%;
    height: 36px;
    cursor: pointer;
    transition: background-color .2s ease-out;
}

.project.active {
    background-color: var(--text);
    color: var(--inverted);
}

.project button {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 3px;
    right: 3px;
    z-index: 10;
    padding: 0;
    opacity: 0;
    pointer-events: none;
    color: inherit;
    transition: opacity .2s ease-out;
}

.project:hover button {
    opacity: 1;
    pointer-events: all;
}

.project button:hover {
    border: 0;
    color: inherit;
}

.project:not(.active):hover {
    background-color: var(--highlight-bg);
}

.project .project-title {
    display: block;
    white-space: nowrap;
    max-width: 95%;
    overflow: hidden;
    mask: linear-gradient(to right, white 85%, transparent 97%);
}

.project .dropover-selector {
    margin-right: 32px;
}


@media only screen and (max-width: 1296px) {
    html, body {
        font-size: 1.1em;
    }
    .card .card-field>span:first-child {
        min-width: 200px;
    }
}
@media only screen and (max-width: 1000px) {
    html, body {
        font-size: 1em;
    }
}
@media only screen and (max-width: 800px) {
    html, body {
        font-size: .9em;
    }
    .card .card-field>span:first-child {
        min-width: 170px;
    }

    .hide-800 { display: none !important;}
}
@media only screen and (max-width: 600px) {
    .toolbar-panel {
        margin-right: 0;
    }
    .toolbar-panel.collapsed {
        min-width: 30px !important;
        width: 30px !important;
        max-width: 30px !important;
    }
    .toolbar-panel.collapsed .flippy-btn {
        right: 0;
        padding: 0;
        padding-right: 6px;
        text-align: right;
    }
    .toolbar-top {
        display: none !important;
    }

    :root {
        --card-gutter: .4rem;
    }

    header :is(h1, h2) {
        text-align: right !important;
        padding-right: 32px;
    }
}